<!DOCTYPE html>
<html>
  <head>
    <title>Cats</title>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='/stylesheets/app.css'>
    <script type='text/javascript' src='http://livejs.com/live.js'></script>
  </head>
  <body>
    <div>
      <a href='/index'>See List</a>
    </div>
