<% include ./partials/header %>

    <h1>Your List Of Cats</h1>

    <a href='/index/new'>Add Cat</a>

    <ol>
      <% cats.forEach(cat => { %>
        <li>
          <div>
            <label>Name:</label><br>
            <%= cat.name %>
          </div>
          <div>
            <label>Breed:</label><br>
            <%= cat.breed %>
          </div>
          <div>
            <a href='/index/<%= cat._id %>'>More Info</a>
          </div>
        </li>
      <% }); %>
    </ol>

<% include ./partials/footer %>
