body {
  background-color: lightgrey;
  text-align: center;
}

label {
  margin-right: 5px;
}

input {
  text-align: center;
}

textarea {
  height: 100px;
  width: 250px;
}

li {
  border-bottom: 1px solid black;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 3px;
  margin-bottom: 3px;
}
